<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First Suite" verbose="1">
    <test name="First Test">
        <classes>
            <class name="org.robbin.testng.FirstTest"/>
            <class name="org.robbin.testng.SecondTest"/>
        </classes>
    </test>
</suite>
